body{
  background-color: #ededed;
  font-family: 'Open Sans', sans-serif;
  height: 100vh;
  padding: 0px;
  margin: 0px;
}
.pointer{
  cursor: pointer;
}
.header{
  position: fixed;
  width: 100%;
  z-index: 100000;
  opacity: 0.9;
  background-color:rgb(255, 255, 255) ;
}
.logo{
  font-family: 'Lobster', cursive;
  color: #cec43c;
  font-size: 40px;
  margin-left: 40px;
  display: inline-block;
}
.menuButton{
  float: right;
  font-size: 40px;
  margin-right: 40px;
  color: #cec43c;
}
.menu{
  position: fixed;
  z-index: 100;
  width: 100vw;
  height: 100vh;
  background-color: rgba(66, 66, 66, 0.8);
  display: flex;
  justify-content:center;
  align-items: center;
  opacity: 100;
  transition: opacity 1s;
}
.ng-hide {
    opacity: 0;
}
.nav{
  color:white;
  font-size: 2.5em;
}
.nav a{
  color: white;
}
.splashContainer{
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	resize: both;
	background-image: url('desk.jpeg');
	background-size: cover;
  position: relative;
}
.welcome{
  color:#fff;
	font-size: 2.5em;
	text-align: center;
	padding-top:100px;
	opacity: 0.7;
}
.welcome h1{
  font-family: 'Lobster', cursive;
}
.welcome h3{
  font-weight: 100;
  font-size: 2rem;
  margin-top: -50px;
}
.downArrow{
  position: absolute;
  bottom: 10px;
  left:50vw;
  margin-left: -20px;
  text-align: center;
  font-size: 2em;
  opacity: 0.7;
  background-color: #fff;
  width: 50px;
  height: 50px;
  border-radius: 100%;
  -webkit-transition: width 2s, height 2s, font-size 2s;
  transition: width 2s, height 2s, font-size 2s;
}
.hideDownArrow{
  width: 0px;
  height: 0px;
  font-size: 0px;
}
.contentContainer{
  text-align: center;
  background-color: rgb(233, 233, 233);
  padding: 40px 0px;
  margin: 0px;
}
.contentContainer *{
  margin: 0px;
}
.contentContainer h1{
  font-size: 3em;
}
.contentContainer h2{
  font-size: 1.5em;
  font-weight: 100;
  color:rgb(167, 167, 167);
}
.threeThings{
  width: 70%;
  margin: 0 auto;
  display: flex;
  margin-top: 20px;
}
.threeThings .coll{
  width: 33.3%;
}
.footer{
  width: 100%;
  clear:both;
  background-color: rgb(52, 52, 52);
  padding: 20px 0px;
  color: rgb(205, 205, 205);
  display: flex;
}
.footer .coll{
  width: 33.3%;
  text-align: center;
}
.footer h1{
  font-size: 1em;
}
.footer p{
  font-size: .7em;
}
.fancyFont{
  font-family: 'Lobster', cursive;
}
.yellow{
  color: #cec43c;
}
.social{
  font-size: 1.5em;
}
.social i{
  padding: 0px 10px;
}
.social i:hover{
  color:#cec43c;
}
.biggerIcon{
  font-size: 3em;
}
.threeThings .coll h1{
  font-size: 2em;
}
.gray{
  color:rgb(167, 167, 167);
}
.collContent{
  padding: 0px 10px;
  text-align: justify;
  margin-top: 10px;
}
.yellowButton{
  border: 0px;
  background-color: #c3c43c;
  font-size: 1rem;
  padding: 10px;
  border-radius: 8px;
  border: 1px solid #b3be3a;
  color: rgb(85, 85, 85);
  -webkit-transition: width 1s, height 1s, font-size 1s;
  transition: width 1s, height 1s, font-size 1s;
}
.yellowButton:hover{
  font-size: 1.10rem;
}
.yellowButton:active{
  background-color: #babb39;
}
a{
  text-decoration: none;
}
.join:hover{
  color: #ced54e;
}
.join h1{
  margin-top: 25px;
}
.spacer{
  height:135px;
  width: 100vw;
}

.newListingForm input{
  border-radius: 10px;
  border: 1px solid rgb(167, 167, 167);
  font-size: 1.5rem;
  padding: 10px;
  display: block;
  text-align: center;
  width: 25%;
  margin: 10px auto;
}
.newListingForm textarea{
  border-radius: 10px;
  border: 1px solid rgb(167, 167, 167);
  font-size: 1.5rem;
  padding: 10px;
  display: block;
  width: 25%;
  margin: 10px auto;
}
.newListingForm .radio{
  display: inline-block;
  margin: 0 10px;
}
.newListingForm select{
  border-radius: 10px;
  border: 1px solid rgb(167, 167, 167);
  font-size: 1.5rem;
  padding: 10px;
  display: block;
  text-align: center;
  width: 25%;
  margin: 10px auto;
}
.notHome{
  height: 65vh;
}
.cardContainer{
  width: 300px;
  position: relative;
}
.cards {
    display: inline-flex;
    flex-wrap: wrap;
    position: relative;
    width: 90%;
}
.card{
  background-color: rgb(52, 52, 52);
  margin: 10px 10px;
  border-radius: 3px;
  color:rgb(200, 200, 200);
  padding: 10px;
}
.price{
  font-size: 1.5rem;
}
.lengthTitle{
  font-size: 0.75rem;
  margin-top: 10px;
}
.priceTitle{
  font-size: 0.75rem;
  margin-top: 10px;
}
.length{
  font-size: 1.25rem;
  border-bottom: 1px solid rgb(65,65,65);
  padding-bottom: 10px;
}
.cover {
    position: absolute;
    top: 0;
    left: 0;
    margin: 10px 10px;
    padding: 10px;
    color:rgb(50, 50, 50);
    background-color:rgba(255,255,255,0.8);
    width: 260px;
    height: 134px;
    text-align: center;
    z-index: 10;
    opacity: 0;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}
.cover:hover{
  opacity: 1;
}
.card h1{
  font-size: 2em;
  padding: 10px;
  border-bottom: 1px solid rgb(65, 65, 65);
}
.card .description{
  height: 50px;
  overflow: hidden;
}

.accountImage{
  width: 45px;
  border-radius: 100%;
  border: 2px solid #c3c43c;
}
.headerPopover{
  position: fixed;
  z-index: 100000000000000;
  background-color: rgba(66, 66, 66, 0.8);
  color: white;
  right: 0px;
  top:141px;
  text-align: right;
  padding: 15px;
}
.headerPopover h1{
  margin: 0px;
  padding: 0px;
}
.headerPopover ul{
  list-style-type: none;
}
#nspopover-1{
  transition: opacity 1s;
}
.backButton{
  float: left;
  padding-left: 25px;
}
.listingInfo{
  width: 75%;
  margin: 0 auto;
}
.listingH3{
  padding-bottom: 10px;
  border-bottom: 1px solid rgb(145, 145, 145);
  margin-bottom: 10px;
}
