<div class="footer">
  <div class="coll">
    <h1 class="fancyFont yellow">Contact Us</h1>
    <p>
      We dont have an office yet...
    </p>
    <p class="fancyFont">
      poop@poop.com
    </p>
  </div>
  <div class="coll">
    <h1 class="fancyFont yellow">Social Media</h1>
    <div class="social">
      <i class="fa fa-facebook pointer"></i>
      <i class="fa fa-twitter pointer"></i>
      <i class="fa fa-instagram pointer"></i>
    </div>
  </div>
  <div class="coll">
    <h1 class="fancyFont yellow">Something Else</h1>
  </div>
</div>
