<div class="header">
  <p class="logo">Lend You It</p>
  <p class="menuButton pointer">
    <span ng-hide="loggedin" ng-click="login()">
      Login/Sign Up
    </span>
    <img src="{{accountImage}}" alt="" class="accountImage" ng-show="loggedin" ns-popover
      ns-popover-template="popover"
      ns-popover-trigger="click"
      ns-popover-placement="bottom"/>
  </p>
  <p class="menuButton pointer" ng-click="toggleMenu()">
    <i class="{{menuIcon}}"></i>
  </p>
</div>
<script type="text/ng-template" id="popover">
  <div class="headerPopover">
    <h1 class="fancyFont yellow">{{user}}</h1>
    <ul>
      <li ng-click="login()" class="pointer" ng-show="loggedin">Logout</li>
    </ul>
  </div>
</script>
<div class="menu" ng-show="menuActive">
  <div class="nav">
    <a class="pointer fancyFont join" ui-sref="home">Home</a> |
    <a class="pointer fancyFont join" ui-sref="listings">Listings</a>
    <a class="pointer fancyFont join" ui-sref="newListing" ng-show="loggedin"> | Make a Listing </a>
    <!-- <a class="pointer fancyFont join" ui-sref="account" ng-show="loggedin">Your Account</a> -->
    <a class="pointer fancyFont join" ng-click="login()" ng-hide="loggedin"> | Login/Signup</a>
  </div>
</div>
