<header-directive></header-directive>
<div class="splashContainer">
  <div class="welcome">
    <h1>Lend You It</h1>
    <h3>the ultimate community</h3>
    <button type="button" name="button" class="yellowButton pointer">Join the Revolution</button>
  </div>
  <div class="downArrow pointer" scroll ng-click="scrollTo('contentArea')">
    <i class="fa fa-chevron-down yellow"></i>
  </div>
</div>
<div class="contentContainer" id="contentArea">
  <h1 class="fancyFont yellow">What is Lend You It?</h1>
  <h2>
    Pretty simply it's three things:
  </h2>
  <div class="threeThings">
    <div class="coll">
      <p class="biggerIcon">
        <i class="fa fa-child yellow"></i>
      </p>
      <h1 class="fancyFont yellow">
        Freedom
      </h1>
      <p class="gray collContent">
        Bacon ipsum dolor amet kielbasa drumstick sirloin shoulder, spare ribs turducken flank kevin. Capicola kielbasa leberkas hamburger jerky. Jerky sirloin doner ham, turducken ribeye kielbasa pig pork turkey cupim leberkas chuck. Leberkas pork chop pancetta, spare ribs beef ribs tail meatloaf ball tip.
      </p>
    </div>
    <div class="coll">
      <p class="biggerIcon">
        <i class="fa fa-users yellow"></i>
      </p>
      <h1 class="fancyFont yellow">
        Community
      </h1>
      <p class="gray collContent">
        Bacon ipsum dolor amet kielbasa drumstick sirloin shoulder, spare ribs turducken flank kevin. Capicola kielbasa leberkas hamburger jerky. Jerky sirloin doner ham, turducken ribeye kielbasa pig pork turkey cupim leberkas chuck. Leberkas pork chop pancetta, spare ribs beef ribs tail meatloaf ball tip.
      </p>
    </div>
    <div class="coll">
      <p class="biggerIcon">
        <i class="fa fa-map-marker yellow"></i>
      </p>
      <h1 class="fancyFont yellow">
        Location Based
      </h1>
      <p class="gray collContent">
        Bacon ipsum dolor amet kielbasa drumstick sirloin shoulder, spare ribs turducken flank kevin. Capicola kielbasa leberkas hamburger jerky. Jerky sirloin doner ham, turducken ribeye kielbasa pig pork turkey cupim leberkas chuck. Leberkas pork chop pancetta, spare ribs beef ribs tail meatloaf ball tip.
      </p>
    </div>
  </div>
    <a href="#" class="yellow fancyFont join"><h1>Join the Revolution</h1></a>
</div>
<footer-directive></footer-directive>
