<header-directive></header-directive>
<div class="spacer"></div>
<div class="contentContainer notHome">
  <a ui-sref="listings" class="backButton"><i class="fa fa-chevron-left"></i> Back To Listings</a><br />
  <div class="listingInfo">
    <h1 class="fancyFont yellow">{{ad.adName}}</h1>
    <h3 class="listingH3">{{ad.type || 'Paid'}} | {{ad.price}} / day | {{ad.length}} | {{ad.adLocation}}</h3>
    <h2>{{ad.description}}</h2>
  </div>
</div>
<footer-directive></footer-directive>
