<header-directive></header-directive>
<div class="spacer"></div>
<div class="contentContainer">
  <h1 class="fancyFont yellow">Listings</h1>
  <h2>search listings to find what youre looking for</h2>
  <div class="cards">
    <a ng-repeat="ad in ads"  ui-sref="listing({listingId: ad.$id})"class="cardContainer">
      <div class="cover">
        <p class="lengthTitle">Max Lending Period:</p>
        <p class="length fancyFont">{{ad.length}}</p>
        <p class="priceTitle">Price:</p>
        <p class="price fancyFont">{{ad.price}} / per day</p>
      </div>
      <div class="card">
        <!-- <div class="img">
          <img src="desk.jpeg" alt="" />
        </div> -->
        <h1 class="fancyFont yellow">{{ad.adName}}</h1><br />
        <p class="description">
          {{ad.description}}
        </p>
      </div>
    </a>
    <a ui-sref="newListing" ng-show="loggedin" class="cardContainer">
      <div class="cover">
        <h1><i class="fa fa-plus yellow"></i></h1>
        Add a new Listing
      </div>
      <div class="card">
        <!-- <div class="img">
          <img src="desk.jpeg" alt="" />
        </div> -->
        <h1 class="fancyFont yellow">Create a Listing</h1><br />
        <p class="description">
          Click here to create a new listing!
        </p>
      </div>
    </a>
  </div>
</div>
<footer-directive></footer-directive>
