<header-directive></header-directive>
<div class="spacer"></div>
<div class="contentContainer">
  <h1 class="fancyFont yellow">Create a Listing</h1>
  <h2>fill out this information to create a listing on Lend You It</h2> <br />
  <form name="newListingForm" class="newListingForm" ng-submit="createListing()">
    <input type="text-box" ng-model="newListing.listingName" placeholder="Name of Item">
    <input type="text-box" ng-model="newListing.listingLocation" placeholder="Zip Code">
    <div class=radio><input type="radio" ng-model="newListing.type" placeholder="paid" name="type" value="paid"><p>Paid</p></div>
    <div class=radio><input type="radio" ng-model="newListing.type" placeholder="free" name="type" value="free"><p>Free</p></div>
    <input type="text-box" ng-model="newListing.price" placeholder="price per day">
    <select name = "borrowing length" ng-model="newListing.length" placeholder="Borrowing Length">
      <option value="" disabled selected>Max Borrowing Time Period</option>
      <option value="One Day">One Day</option>
      <option value="Two Days">Two Days</option>
      <option value="Three Days">Three Days</option>
      <option value="Four Days">Four Days</option>
      <option value="Five Days">Five Days</option>
      <option value="Six Days">Six Days</option>
      <option value="One Week">One Week</option>
      <option value="Two Weeks">Two Weeks</option>
      <option value="Three Weeks">Three Weeks</option>
      <option value="One Month">One Month</option>
    </select>
    <textarea name="name" value="" ng-model="newListing.description" placeholder="Description">Description</textarea>
    <button ng-disabled="newListingForm.$invalid" type="submit" class="yellowButton pointer">Create Listing</button>
  </form>
</div>

<footer-directive></footer-directive>
